/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
#jordans-1, #jordans-2{
    height: 400px;
    width: 600px;
}
#jordans-1{
    box-shadow: 5px 2px 2px blue;
}
#jordans-2{
    box-shadow: 5px 2px 2px red;
}
h1{
    text-decoration: underline;
    color: rgb(109, 0, 251);
    text-shadow: 5px 2px 10px rgb(243, 183, 106);
    text-align: center;
    background: linear-gradient(#74c9f1, #fb4040);
    border-radius: 10px;
    padding: 20px;
    font-size: xxx-large;
}
#jordans-1-desc{
    background-color: rgb(116, 201, 241);
    color: white;
    border: 2px solid rgb(241, 117, 0);
    border-radius: 8px;
    font-family: Copperplate;
    font-size: x-large;
    padding: 13px;
}
#jordans-2-desc{
    background-color: rgb(251, 64, 64);
    color: white;
    border: 2px solid rgb(13, 110, 0);
    border-radius: 8px;
    font-family: Copperplate;
    font-size: x-large;
    padding: 13px;
}
body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
}